.cool {
  color: blue;
}

.badass {
  font-style: italic;
  color: green;
}

.column {
  width: 300px;
  float: left;
  background-color: red;
  font-weight: bold;
}

.sidebar {
  float: right;
  }

  .my-class {
    margin: 12px;
    border: 2px solid green;
    padding: 4px;
    background-color: blue;
    }
